/* body {
  font-family: 'Zilla Slab Highlight', cursive;
} */

html {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 56px;
  background: #292b2c;
}

p {
  font-family: "Roboto Condensed", sans-serif;
}

.navbar-brand {
  font-weight: bold;
}

#page3,
#page5,
#page7,
#page9,
#page11,
#page12,
#page13,
#page14,
#page16 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#page2 {
  background-color: white;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#page3 {
  background-image: url("img/computer.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
}

#page4 {
  background-color: white;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#page5 {
  background-image: url("img/green-fashion.jpeg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#page6 {
  background-image: url("img/bird-bg.jpg");
  background-size: auto 100vh;
  background-position: top center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#page6 .logo {
  background-image: url("img/black-bird-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50vh;
  margin-top: -3em;
  width: 100%;
  height: 20vh;
}

#page6 .fore-bird {
  background-image: url("img/fore-bird.png");
  background-position: right bottom;
  background-size: auto 100vh;
  background-repeat: no-repeat;
  position: absolute;
  left: 0vw;
  top: 70vh;
  margin-left: -10em;
  width: 100%;
  height: 100vh;
}

#page6 .back-bird {
  background-image: url("img/back-bird.png");
  background-position: top left;
  background-size: auto 50vh;
  background-repeat: no-repeat;
  position: absolute;
  top: 10vh;
  margin-left: 0em;
  width: 50%;
  height: 100vh;
}

#page7 {
  background-color: #d2d2d2;
  background-size: cover;
  opacity: 0.9;
}

#page7 .content {
  text-align: center;
  font-family: "Playball", cursive;
  margin-top: 3em;
  font-size: 1.2em;
  padding: 2em 18em;
}

#page7 .content h1 {
  margin-top: 1em;
  font-size: 4em;
}

#clothes-section {
  background-color: white;
  background-size: cover;
  width: 100%;
}

#clothes-section .content {
  text-align: center;
  font-family: "Playball", cursive;
  margin-top: 3em;
  font-size: 1.2em;
  padding: 2em 18em;
}

#clothes-section .content h1 {
  margin-top: 1em;
  font-size: 4em;
}

#clothes-section .clothes-pic figure {
  margin-bottom: 2em;
  position: relative;
  overflow: hidden;
  transition: all 0.6 ease-in-out;
  cursor: pointer;
  /* opacity: 0;
  transform: translateX(-20px);
  transition: all 0.5s ease-in-out; */
}

#clothes-section .clothes-pic img {
  height: 40vh;
  transition: all 0.3s ease-in-out;
}

/* .is-showing {
  opacity: 1;
  transform: translateX(0px);
} */

#clothes-section .caption {
  position: absolute;
  top: 35vh;
  background: black;
  color: white;
  overflow: hidden;
  padding: 0.2em 0.5em;
  font-family: "Lora", serif;
  font-size: 11px;
  left: -100%;
  transition: all 0.3s ease-in-out;
}

#clothes-section figure:hover .caption {
  left: 0%;
}

#clothes-section img:hover,
figure:hover {
  transform: scale(1.2);
}

#page8-section {
  background-color: white;
  background-size: cover;
}

#page8-section .content {
  text-align: center;
  font-family: "Playball", cursive;
  /* margin-top: 3em; */
  font-size: 1.2em;
  padding: 2em 20em;
}

#page8-section .content h1 {
  margin-top: 1em;
  font-size: 4em;
}

#page8 {
  background-image: url(img/model2.jpg);
  background-position: center 0em;
  background-attachment: fixed;
  opacity: 0.9;
  position: relative;
  height: 600px;
  border-radius: 60%;
  margin-top: 5em;
}

#page8 .window-tint {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page8 .promo-text {
  color: white;
  font-weight: 100;
  font-size: 3em;
  line-height: 1.2;
}

#page8 .window-tint strong {
  display: block;
  font-size: 0.5em;
}

#page8 .window-tint span {
  font-weight: 300;
  font-size: 1em;
  font-style: italic;
  color: rgba(255, 255, 255, 0.6);
}

#page8 .window-tint .window-cta {
  font-size: 0.5em;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

#page8 .window-tint .window-cta:hover {
  background: white;
  color: black;
}

#page9 {
  background-color: white;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#page9 {
  background-image: url("img/female-fashion.jpeg");
  width: 100%;
  height: 100vh;
}

#page10 {
  background-color: #9eacaf;
  background-size: cover;
  opacity: 0.7;
  width: 100%;
}

#page10 .blog-posts {
  margin-top: 3em;
  margin-bottom: 3em;
}

#page10 .blog-posts .post {
  border: 0.1em solid #e1e1e1;
  padding: 0.2em 0.1em;
  position: relative;
}

#page10 .blog-posts .post-1 {
  transform: translate(100px, 1em);
}

#page10 .blog-posts .post-2 {
  z-index: 2;
}

#page10 .blog-posts .post-3 {
  transform: translate(-100px, 20px);
}

#page10 .blog-posts .post img {
  height: 10vh;
  width: 10vw;
  transition: all 0.3s ease-in-out;
}

#page10 .blog-posts .post img:hover {
  transform: scale(1.2);
}

#page11 {
  background-image: url("img/code.jpeg");
  background-size: cover;
  width: 100%;
  height: 80vh;
}

#page12 {
  /* background-image: url("img/red-fashion.jpeg"); */
  background-color: #b91212;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#page13 {
  background-image: url("img/cover.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#page14 {
  background-color: white;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#page15 {
  background-color: black;
  padding: 2em 0;
  width: 100%;
  color: #f8ffea;
}

#page15 ul,
li {
  text-decoration: none;
  list-style: none;
  text-align: left;
}

#page15 footer {
  background-color: black;
  text-align: center
}

#page15 .footer-stuff {
  max-width: 700px;
  margin: 0 auto;
}

#page15 .footer-stuff a {
  color: rgb(91, 192, 222);
}

#page15 .footer-stuff a:focus, a:hover {
  color: rgb(91, 192, 222);
}

#page16 {
  background-image: url(img/baloon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding: 2em;
  color: white;
  /* border-top: #333 0.7em solid;
  border-bottom: #333 0.7em solid; */
}

#page2 h1 {
  font-family: "Playball", cursive;
  font-size: 3.5em;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

#page2 img {
  width: 90%;
  margin-left: 2em;
  margin-top: 4em;
}

#page2 i {
  /* margin-top: 4em; */
  font-size: 22em;
}

#page2 .showcase-right {
  margin-top: 3em;
}

#page2 .showcase-left {
  margin-top: 3em;
}

#testimonial {
  background: #727070;
  padding: 3em 0 2em 0;
  text-align: center;
}

#testimonial p {
  font-size: 2em;
  font-family: 'Indie Flower', cursive;
  color: #ffbcbc;
}

#testimonial p.customer {
  font-size: 1em;
  color: #dab9b9;
}

#page4 .info-right {
  margin-top: 8em;
}

#page4 .info-right h2,
p,
q {
  font-family: "Sedgwick Ave Display", cursive;
}

#page4 .info-right h2 {
  font-size: 3em;
}

#page4 .info-down h2,
p,
q {
  font-family: "Sedgwick Ave Display", cursive;
}

#page4 .info-down h2 {
  font-size: 3em;
}

#contact {
  margin-top: 1em;
}

footer {
  padding: 0.8em;
  color: white;
  background: black;
}

.section {
  padding: 1.2em 3em;
}

.section h2,
p {
  font-family: "Indie Flower", cursive;
  text-align: center;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
  height: 40vh;
}

.section-dark .content-section {
  margin-top: 2em;
}

.section-dark .content-section h2 {
  font-size: 3em;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 2em;
  letter-spacing: 0.6em;
  text-transform: uppercase;
}

.ptext-light {
  color: #ffffff;
  font-family: "Sedgwick Ave Display", cursive;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 1em;
}

.ptext .border.trans {
  background-color: transparent;
}

.btn-outline-success {
  color: white;
  border-color:white;
}

.btn-outline-success:hover {
  background: #e2a6a6;
}

@media (max-width: 568px) {
  .ptext {
    font-size: 1em;
  }

  #page2 .showcase-right {
    display: none;
  }

  #page2 .showcase-left {
    display: none;
  }

  #testimonial p {
    font-size: 1em;
  }

  #testimonial p.customer {
    font-size: 1em;
    color: #666;
  }

  #page4 img {
    width: 90%;
  }

  #page5,
  #page7,
  #page9,
  #page11 {
    /* background-attachment: scroll; */
  }
}

/* Fonts */

/* font-family: 'Roboto Condensed', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Lora', serif;
font-family: 'Pacifico', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Playball', cursive;
font-family: 'Slabo 27px', serif;
font-family: 'Zilla Slab Highlight', cursive; */
